@import "tailwindcss";

body {
  background-color: #f3f4f6;
}

.dark .dark-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.dark .dark-scrollbar::-webkit-scrollbar-track {
  background: #18181b; 
}

.dark .dark-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 14px;
}

.dark .dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #52525b; 
}